.report-index {
  & .pagination {
    margin: 0;
  }
  & .filter-search label {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  & .filter-type, & .filter-page {
    @media (min-width: 768px) {
      float: right;
    }
  }
}