@import "../style.pcss";
.calendar-index.calendar-group {
  & .calendar-info {
    display: none;
  }
  & .group-info {
    margin-top: 20px;

    & table {
      & td {
        vertical-align: middle;
      }
    }
  }
}