.user-link {
  height: 37px;
  line-height: 37px;
  display: inline-block;
  & .avatar {
    overflow: hidden;
    margin-right: 10px;
    background-size: cover;
    vertical-align: middle;
    border: 1px solid #A23B72;
    background-color: #A23B72;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    height: 35px;
    width: 35px;
    display: inline-block;
    border-radius: 8px;
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}